@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  #avatar {
    display: none;
  }

  /*styling navigation bar belows the banner picture*/
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-color: white;
    overflow: hidden;
    font-size: 14px;
  }

  /*modify link button inside navigation bar*/
  .nav-bar > a {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-bar-border-1 {
    border-left: 0px solid #c0c0c0;
  }

  .nav-bar-border-2 {
    border-right: 0px solid #c0c0c0;
  }

  .nav-bar-border-3 {
    border-right: 0px solid #c0c0c0;
    border-left: 0px solid #c0c0c0;
  }

  /*Code for display 6 content in Summary class add 3 of Project class.*/
  .summary {
    --gap: 2em;
    --columns: 1;
    max-width: 100%;
    margin: 40px 30px;
    display: column;
    columns: var(--columns);
    gap: var(--gap);
  }

  .summary-list {
    margin-left: 40px !important;
  }

  .footer-icon {
    font-size: 2vw;
    margin: 5px;
  }

  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 0;
  }

  .footer-text {
    display: none;
  }

  /*Style for Project Chapter*/
  .project-grid {
    display: flex;
    flex-direction: column;
  }

  /*layout for more information about this project*/
  .project-detail {
    display: flex;
    flex-direction: column;
  }

  /*layout for more information about this project*/
  .project-section {
    margin-bottom: 20px;
  }

  .project-group {
    margin: 10px;
  }

  /*layout for scope section's information*/
  .scope-column {
    display: flex;
    flex-direction: column;
  }

  /*custom for number icon inside of Project Chapter*/
  .number {
    margin: auto 15px;
  }
}
